<div class="main-div">
  <mat-card appearance="outlined">
    <h1>Search a book</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Find a book</mat-label>
      <input
        matInput
        placeholder="Enter book title"
        (keyup)="bookQuery($event.target.value)"
      />
    </mat-form-field>
  </mat-card>
</div>

<div>
  <app-book-item
    *ngFor="let book of books | async; let first = first; let last = last"
    [book]="book"
    [ngClass]="{ first: first, last: last }"
  >
  </app-book-item>
</div>
