.main-div{
  width: 100%;
  text-align: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  max-width: 600px;
  margin: 2em auto;
}

.first {
  background: rgb(166, 166, 233);
}

.last {
  background: rgb(233, 192, 116);
}
