<mat-nav-list>
  <a
    mat-list-item
    class="side-nav-link"
    routerLink="/"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <mat-icon>list</mat-icon>Book List
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    routerLink="/book-search"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <mat-icon>search</mat-icon>Book Search
  </a>
  <a
    mat-list-item
    class="side-link-social"
    href="https://www.github.com/andrewjbateman"
    target="_blank"
    rel="noreferrer"
  >
    <mat-icon>open_in_new</mat-icon>Github
  </a>
  <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>close</mat-icon>Close
  </a>
</mat-nav-list>
